  <section class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Buy And Sell Collectibles</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div>
            <%= search_form_for @q , url: search_path do |f| %>
            <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <%= f.search_field :title_cont,placeholder:"Search for a collectible", class:"form-control form-control-lg" %>
            </div>
            <div class="col-12 col-md-3">
              <%= f.submit class:"btn btn-block btn-lg btn-primary" %>
            </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>

