<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid homepage-banner">
  <h1 class="text-center homepage-h1">Buy And Sell Collectibles</h1>
  <div class="container">
  <p><%= render 'layouts/partials/searchbar-homepage' %></p>
    
  </div>
  <br><br>
  <div class="container">
  <div class="row">
    <div class="col text-center"><%= link_to "Search all listing", listings_path, class:"btn btn-secondary btn-lg btn-block" %></div>
    <div class="col text-center"><%= link_to "Add new Listing", new_listing_path, class:"btn btn-secondary btn-lg btn-block" %></div>
  </div>  
  </div>
</div>
</div>

