<div class="container-fluid">


  <div style="background-color: #004E64 !important" class="jumbotron jumbotron-fluid">
  <h1 class="display-4 text-center">Buy And Sell Collectibles</h1>
  <div class="container">
    <%= render 'layouts/partials/searchbar' %>
  </div>
  <div class="container">
  <div class="row">
    <p>Search all listings</p>
    <p>Add new Listing</p>
  </div>

    
  </div>
</div>
</div>

