<div class="container">
  <p class="alert alert-success">You've successfully made a payment!</p>
  <br>
  <%= link_to "Go To My Dashboard", root_path %><br>
  <%= link_to 'Return to listings', listings_path %>
</div>


