// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homepage-h1 {
  color: grey;
  font-family: 'Montserrat', sans-serif;
}

section.masthead {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

section.masthead .overlay {
  position: absolute;
  background-image: url("toybackground.jpg"); /* The image used */
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: #004E64;
  -webkit-box-shadow: 10px 10px 23px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 23px -7px rgba(0,0,0,0.75);
box-shadow: 10px 10px 23px -7px rgba(0,0,0,0.75);
  height: 82vh;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 100;
}

section.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  section.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  section.masthead h1 {
    font-size: 3rem;
  }
}